/node_modules
/vendor
/public/build
/public/hot
/storage/*.key
/.git
/.gitignore
/.env
/.env.backup
/.env.production
/.idea
/.vscode
/.fleet
/README.md
/TASKS.md
/IMPROVEMENTS.md
/DEPLOYMENT.md
/PERFORMANCE_OPTIMIZATION.md
.phpunit.result.cache
npm-debug.log
yarn-error.log
Homestead.json
Homestead.yaml
auth.json

